.input-form-field {
  padding: 0.8em 0em 0em 0em;
  width: 200px;
  left: 2px;
  top: 10px;
  max-width: 200px;
}
.details-card {
  max-width: 400px;
  display: inline-block;
  font-size: 20;
  color: rgb(36, 47, 112);
  padding: 0.6em 0.7em 0 0.7em;
  background-color: rgb(219, 241, 217);
  line-height: 1em;
  position: relative;
  left: 0px;
  top: 10px;
  height: 1.8em;
  margin-right: .8em;
  /* border-radius: 4px 0 0 4px; */
}

.id_badge .id_val {

  font-size: 19;
  color: rgb(36, 47, 112);

}
.save-button{
  margin-left: 1em
}