/* HeroSearch private styles */

#search-box {
  width: 200px;
  height: 20px;
}
ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
.mat-nav-list{
  width: 200px;
}
#search-card{
  width: 200px;
  margin :2px 2px 2px 2px !important;
}

